<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Reminder List</a> 
    </div>
    <% if (!locals.isResgisterOrloginPage) { %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav">
        <li><a class="nav-item nav-link <%= locals.pageTitle =='list'? 'active': null %>" 
          style="<%=locals.pageTitle =='list'? 'color:black': null %>" href="/reminders">List All</a></li>
        <li><a class="nav-item nav-link <%= locals.pageTitle =='create'? 'active': null %>"
          style="<%=locals.pageTitle =='create'? 'color:black': null %>" href="/reminder/new">Create</a></li>
      </ul>
    </div>
  </div>
  <% } %>
</nav>
